{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <h1> Bolos </h1>
    </div>
    <div class="caixa-produtos container" >
        <div class="caixa-produto">
            <img class="img-style" src="static/fotos_site/Bolo-Cenoura-Chocolate.jpg" alt="Bolo-Cenoura-Chocolate"><br>
            <div class="caixa-textos">
                <div class="caixa-titulo" >
                    <p>Bolo de Cenoura com Chocolate</p>
                </div>
                <div class="caixa-texto">
                    <p>R$ 25,00</p>
                </div>
            </div>
        </div>
        <div class="caixa-produto">
            <img class="img-style" src="static/fotos_site/Bolo-Laranja.jpg" alt="Bolo-Cenoura-Chocolate"><br>
            <div class="caixa-textos">
                <div class="caixa-titulo" >
                    <p>Bolo de Laranja</p>
                </div>
                <div class="caixa-texto">
                    <p>R$ 25,00</p>
                </div>
            </div>
        </div>
        <div class="caixa-produto">
            <img class="img-style" src="static/fotos_site/Bolo-Cocada.jpg" alt="Bolo-Cocada"><br>
            <div class="caixa-textos">
                <div class="caixa-titulo" >
                    <p>Bolo Cocada</p>
                </div>
                <div class="caixa-texto">
                    <p>R$ 25,00</p>
                </div>
            </div>
        </div>
        <div class="caixa-produto">
            <img class="img-style" src="static/fotos_site/Bolo-Fuba-Cocada.jpg" alt="Bolo-Fuba-Cocada"><br>
            <div class="caixa-textos">
                <div class="caixa-titulo" >
                    <p>Bolo de Fuba com Cocada</p>
                </div>
                <div class="caixa-texto">
                    <p>R$ 25,00</p>
                </div>
            </div>
        </div>
        <div class="caixa-produto">
            <img class="img-style" src="static/fotos_site/Bolo-Piscina-Chocolate.jpg" alt="Bolo-Piscina-Chocolate"><br>
            <div class="caixa-textos">
                <div class="caixa-titulo" >
                    <p>Bolo Piscina de Chocolate</p>
                </div>
                <div class="caixa-texto">
                    <p>R$ 25,00</p>
                </div>
            </div>
        </div>
        <div class="caixa-produto">
            <img class="img-style" src="static/fotos_site/Bolo-Tapioca-Doce-Leite.jpg" alt="Bolo-Tapioca-Doce-Leite"><br>
            <div class="caixa-textos">
                <div class="caixa-titulo" >
                    <p>Bolo de Tapioca com Doce de Leite</p>
                </div>
                <div class="caixa-texto">
                    <p>R$ 25,00</p>
                </div>
            </div>
        </div>
        <div class="caixa-produto">
            <img class="img-style" src="static/fotos_site/Bolo-Piscina-Chocolate-Doce-Liete.jpg" alt="Bolo-Piscina-Chocolate-Doce-Liete"><br>
            <div class="caixa-textos">
                <div class="caixa-titulo" >
                    <p>Bolo Piscina de Chocolate com Doce de Leite</p>
                </div>
                <div class="caixa-texto">
                    <p>R$ 25,00</p>
                </div>
            </div>
        </div>
        <div class="caixa-produto">
            <img class="img-style" src="static/fotos_site/Bolo-Piscina-Dois-Amores.jpg" alt="Bolo-Piscina-Dois-Amores"><br>
            <div class="caixa-textos">
                <div class="caixa-titulo" >
                    <p>Bolo Piscina Dois Amores</p>
                </div>
                <div class="caixa-texto">
                    <p>R$ 25,00</p>
                </div>
            </div>
        </div>
        <div class="caixa-produto">
            <img class="img-style" src="static/fotos_site/Bolo-Piscina-Ninho-Chocolate.jpg" alt="Bolo-Piscina-Ninho-Chocolate"><br>
            <div class="caixa-textos">
                <div class="caixa-titulo" >
                    <p>Bolo Piscina Ninho com Chocolate</p>
                </div>
                <div class="caixa-texto">
                    <p>R$ 25,00</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}